## PROJECT

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

### *This code is used to load data from a CSV (Comma-Separated Values) file into Pandas DataFrame in Python

In [3]:
df=pd.read_csv(r"C:\Users\user\Desktop\PYTHON\lives-saved-vaccines new.csv")

In [4]:
df

,Entity,Year,Diphtheria,Hepatitis B,Measles,Polio,Rubella,Tetanus,Tuberculosis,Yellow fever,Whooping cough (Pertussis),Total,Streptococcus pneumoniae,Rotavirus,Neisseria meningitidis A,Japanese encephalitis,Haemophilus influenzae type B
0,Africa,2024,210000,129000,28660000,151000,45000,9544000,6568000,549000,4197000,52843000,1026000,228000,2000,0,1534000
1,Americas,2024,7000,18000,14894000,218000,30000,65000,231000,8000,367000,16119000,69000,31000,0,0,181000
2,Eastern Mediterranean,2024,30000,27000,12887000,119000,34000,8501000,822000,1000,1861000,25055000,284000,67000,0,0,422000
3,Europe,2024,3000,24000,6562000,244000,14000,21000,108000,0,231000,7278000,31000,4000,0,0,36000
4,South-east Asia,2024,84000,73000,20517000,347000,112000,9218000,2416000,0,4437000,38026000,137000,62000,0,20000,603000
5,Western Pacific,2024,23000,203000,10192000,491000,50000,586000,756000,0,2058000,14514000,70000,4000,0,10000,71000
6,World,2024,357000,464000,93712000,1570000,286000,27948000,10874000,554000,13173000,153838000,1628000,396000,2000,29000,2845000

In [5]:
df.head()

,Entity,Year,Diphtheria,Hepatitis B,Measles,Polio,Rubella,Tetanus,Tuberculosis,Yellow fever,Whooping cough (Pertussis),Total,Streptococcus pneumoniae,Rotavirus,Neisseria meningitidis A,Japanese encephalitis,Haemophilus influenzae type B
0,Africa,2024,210000,129000,28660000,151000,45000,9544000,6568000,549000,4197000,52843000,1026000,228000,2000,0,1534000
1,Americas,2024,7000,18000,14894000,218000,30000,65000,231000,8000,367000,16119000,69000,31000,0,0,181000
2,Eastern Mediterranean,2024,30000,27000,12887000,119000,34000,8501000,822000,1000,1861000,25055000,284000,67000,0,0,422000
3,Europe,2024,3000,24000,6562000,244000,14000,21000,108000,0,231000,7278000,31000,4000,0,0,36000
4,South-east Asia,2024,84000,73000,20517000,347000,112000,9218000,2416000,0,4437000,38026000,137000,62000,0,20000,603000

In [6]:
print(df.isnull().sum())

Entity                           0
Year                             0
Diphtheria                       0
Hepatitis B                      0
Measles                          0
Polio                            0
Rubella                          0
Tetanus                          0
Tuberculosis                     0
Yellow fever                     0
Whooping cough (Pertussis)       0
Total                            0
Streptococcus pneumoniae         0
Rotavirus                        0
Neisseria meningitidis A         0
Japanese encephalitis            0
Haemophilus influenzae type B    0
dtype: int64

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Entity                         7 non-null      object
 1   Year                           7 non-null      int64
 2   Diphtheria                     7 non-null      int64
 3   Hepatitis B                    7 non-null      int64
 4   Measles                        7 non-null      int64
 5   Polio                          7 non-null      int64
 6   Rubella                        7 non-null      int64
 7   Tetanus                        7 non-null      int64
 8   Tuberculosis                   7 non-null      int64
 9   Yellow fever                   7 non-null      int64
 10  Whooping cough (Pertussis)     7 non-null      int64
 11  Total                          7 non-null      int64
 12  Streptococcus pneumoniae       7 non-null      int64
 13  Rotavirus                      7 non-null      int64
 14  Neisseria meningitidis A       7 non-null      int64
 15  Japanese encephalitis          7 non-null      int64
 16  Haemophilus influenzae type B  7 non-null      int64
dtypes: int64(16), object(1)
memory usage: 1.1+ KB
None

In [17]:
df.shape

(7, 17)

In [15]:
df = df.fillna(0)

In [16]:
df

,Entity,Year,Diphtheria,Hepatitis B,Measles,Polio,Rubella,Tetanus,Tuberculosis,Yellow fever,Whooping cough (Pertussis),Total,Streptococcus pneumoniae,Rotavirus,Neisseria meningitidis A,Japanese encephalitis,Haemophilus influenzae type B
0,Africa,2024,210000,129000,28660000,151000,45000,9544000,6568000,549000,4197000,52843000,1026000,228000,2000,0,1534000
1,Americas,2024,7000,18000,14894000,218000,30000,65000,231000,8000,367000,16119000,69000,31000,0,0,181000
2,Eastern Mediterranean,2024,30000,27000,12887000,119000,34000,8501000,822000,1000,1861000,25055000,284000,67000,0,0,422000
3,Europe,2024,3000,24000,6562000,244000,14000,21000,108000,0,231000,7278000,31000,4000,0,0,36000
4,South-east Asia,2024,84000,73000,20517000,347000,112000,9218000,2416000,0,4437000,38026000,137000,62000,0,20000,603000
5,Western Pacific,2024,23000,203000,10192000,491000,50000,586000,756000,0,2058000,14514000,70000,4000,0,10000,71000
6,World,2024,357000,464000,93712000,1570000,286000,27948000,10874000,554000,13173000,153838000,1628000,396000,2000,29000,2845000

## Immunization Trends Over Time: How have immunization rates for different diseases changed over the years?